.paymentContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2rem 0rem;
}

.paymentImg {
    height: 80%;
    width: 80%;
    margin: 0% auto;
}

@media only screen and (max-width: 600px) {
    .paymentContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 2rem 0rem;
    }
}