
.slider-title {
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    color: white;
}

/* .slider-container {
    max-width: 100%;
} */

.main-title {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    margin: 0%;
}

.slick-arrow {
    color: black;

}

.slick-prev {
    z-index: 100;
    left: 20px !important;
}

.slick-next {
    z-index: 100;
    right: 20px !important;
}
.title-contaier {
    display: flex;
    margin-left: 33%;
    margin-bottom: 1rem;
}

.drDetailsBtn{
    background-color: ;
}


@media only screen and (max-width: 570px) {
    .slider-title {
        font-size: xx-small;
    }

    .main-title {
        font-size: medium;
    }
    .designation{
        font-size: x-small;
    }
    .title-contaier {
        display: flex;
        margin-left: 13%;
    }
}